@import '../global.css';

.turn-card {
    background-color: rgba(118, 63, 219, 0.692);
    width: 45%;
    height: 30%;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    
}
.turn-card:hover {
    transform: translateY(-20px);
    font-weight: bold;
    color: rgb(13, 243, 13);
}