.Main_header {
    color: var(--main-color2);
    margin-top: 2em;
}
.Main__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18% 0;
    /* padding: 1em; */
}
.Main__form-container .btn {
    margin-top: 3em;
}



.form__input {
    color: #333;
    font-size: 1.2rem;
    margin: 0 1em;
    padding: 1.2rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.151);
    width: 60%;
    display: block;
    border: 2px solid black;
    transition: all 0.3s;
  }