@import './global.css';

.App {
  text-align: center;
  width: 100%;
  /* margin: auto; */
}
.App__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-status {
  width: 100%;
  background-color: aliceblue;
  border: 3px double rgb(207, 193, 193) ;
  border-radius: 6px;
  max-width: 700px;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.top-status span {
  /* margin-left: .5em;
  margin-right: .5em; */
  margin-left: 1em;
  margin-right: 1em;
}