:root {
    --main-color1: #D7CEC7;
    --main-color2: #e47d00;
    --main-color3: #565656;
    --main-p1: #FF6B81;
    --main-p2: #3DD1E7;
}

.GameBlock {
    /* background: #0f2027;
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027); */
    width: 100%;
    max-height: 600px;
    /* min-height: 600px; */
    height: 100%;
    max-width: 700px;
    min-width: 300px;
    border-left: 1px solid var(--main-color3);
    border-bottom: 1px solid var(--main-color3);
    border-right: 1px solid var(--main-color3);
    border-radius: 4px;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;

    animation-duration: 1s;
    animation-name: test;
    /* overflow: hidden; */
}

@keyframes test {
    from {
        transform: translateY(-100vw);
    }
    to {
        transform: translateX(0px);
    }
  }